@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Merriweather:wght@300;400;700&display=swap');

:root {
  --cor-branco:#ffffff;
  --cor-text-form:#2B2B2B;
  --cor-bg-roxoClaro:#D7D5FF;
  --cor-bg-botao-roxoEscuro:#6C63FF;
  --cor-bg-cinza:#f4f4f4;
  --cor-bg-card-1:#FF6363;
  --cor-bg-card-2:#63ECFF;
  --cor-bg-card-3:#F363FF;
  --cor-bg-card-4:#63FF73;
  --cor-bg-card-5:#FFDD63;
  --cor-bg-card-6:#6663FF;
}
body {
font-size: 100%;
font-family: 'Merriweather', sans-serif;
}
/*reset css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 500px;
  min-width: 300px;
  width: 100%;
  height: auto;
}
/**/
header {
  width: 100%;
  height: auto;
  /**/
  background-color: var(--cor-bg-roxoClaro);
}
.container {
  margin: 0 250px;
  padding: 100px 0;
}
header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header div button {
  border: 0;
  background: #6C63FF;
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  /**/
  font: normal normal 700 20px/24px 'Lato';
  padding: 14px 51px;
  color: var(--cor-branco);
  transition: 0.2s;
}
/*MAIN*/
main {
  width: 100%;
  height: auto;
  background-color: var(--cor-bg-cinza);
}
main section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 128px;
  grid-row-gap: 100px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
section .card {
  border: 1px solid #565685;
  width: 340px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 24%);
  transition: 0.2s;
}
.card .colorCard {
  height: 222px;
  background-color: #6C63FF;
} 
.card .textCard {
  padding: 32px;
  background-color: var(--cor-bg-cinza);
} 
#card1 {
  background-color: var(--cor-bg-card-1);
}
#card2 {
  background-color: var(--cor-bg-card-2);
}
#card3 {
  background-color: var(--cor-bg-card-3);
}
#card4 {
  background-color: var(--cor-bg-card-4);
}
#card5 {
  background-color: var(--cor-bg-card-5);
}
#card6 {
  background-color: var(--cor-bg-card-6);
}
/*FOOTER*/
footer {
  background-color: var(--cor-bg-roxoClaro);
}
.sectionFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sectionFooter h1 {
  margin-top: 85px;
  margin-bottom: 60px;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 60px;
  max-width: 800px;
  min-width: 400px;
}
.inputText {
  border: none;
  padding: 16px;
  border-radius: 6px;
}
.inputButton {
  border: 0;
  background: #6C63FF;
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  /**/
  font: normal normal 700 20px/24px 'Lato';
  padding: 14px 51px;
  color: var(--cor-branco);
}
textarea {
  resize: none;
}
/*FONTS*/
.textHeader h1 {
  font: normal normal 400 36px/47px 'Merriweather';
  color: var(--cor-text-form);
  margin-bottom: 16px;
}
.textHeader p {
  font: normal normal 400 19px/32px 'Lato';
  color: var(--cor-text-form);
  margin-bottom: 32px;
}
.textCard h1 {
  font:  normal normal 700 24px/30px 'Merriweather';
  color: var(--cor-text-form);
  margin-bottom: 32px;
}
.textCard p {
  font: normal normal 400 18px/30px 'Lato';
  color: var(--cor-text-form);
  margin-bottom: 32px;
}
.sectionFooter h1 {
  font: normal normal 400 32px/40px 'Merriweather';
}
/*MEDIA-QUERY*/
@media screen and (max-width: 1440px){
  .container {
    margin: 0 auto 0 auto;
    padding: 3rem 128px;
}
  header > div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 128px;
}
.textHeader {
  display: flex;
  flex-direction: column;
}
.textHeader h1 {
  margin-bottom: 32px;
}
.textHeader p {
  margin-bottom: 64px;
}
img {
  margin-bottom: 64px;
}
main section {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
}
@media screen and (max-width: 1024px){
  main section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  form {
    align-items: center;
  }
  input {
    width: 70%;
  }
  textarea {
    width: 70%;
  }
}
@media screen and (max-width: 600px){
  .container {
    margin: 0 auto 0 auto;
    padding: 128px 32px;
}
}
@media screen and (max-width: 450px){
  .container {
    margin: 0 auto 0 auto;
    padding: 64px 24px;
}
img {
  margin-bottom: 0px;
}
  section .card {
    width: 240px;
}
.card .textCard {
  padding: 16px;
}
.textCard h1 {
  font: normal normal 700 18px/22px 'Merriweather';
  margin-bottom: 16px;
}
.textCard p {
  font: normal normal 400 15px/18px 'Lato';
  margin-bottom: 16px;
}
.sectionFooter h1 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
form {
  align-items: center;
  gap: 12px;
  margin-bottom: 60px;
  max-width: 500px;
  min-width: 200px;
}
}
/*INTERATIVIDADE*/
header div button:hover {
  border: 1px solid var(--cor-branco);
  background: #804FE8;
  box-shadow: 0px 5px 5px rgb(23 23 23 / 15%);
  color: var(--cor-branco);
  transform: scale(1.08);
}
section .card:hover {
  width: 340px;
  box-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
}